@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {

		@apply font-roboto bg-primary text-white leading-loose;
		 min-height: -webkit-fill-available;
		background-image: url('../../public/VLA_7012.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

	
	}

	.h1 {
		@apply text-[72px] xl:text-[72px] leading-[1.1] font-semibold;
	}
	.h2 {
		@apply text-[36px] font-mavka xl:text-[48px] leading-[1.1] font-semibold;
	}
	.h3 {
		@apply text-[18px] font-roboto  xl:text-[24px] leading-[1.1] font-[300];
	}
}

#bg-wrap {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#container {
	width: 40vw;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
}

#container:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.5);
	filter: blur(1px);
	margin: -20px;
}

#container2 {
	padding: 10px;
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	border-radius: 5px;
	position: relative;
	z-index: 1;
	background: inherit;
	overflow: hidden;
}

#container2:before {
	content: "";
	position: absolute;
	background: inherit;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.5);
	filter: blur(20px);
	margin: -20px;
}